
{% extends '_base.html' %}

{% block title %}
blog
{% endblock title %}

{% block content %}
<div>
    <a href="{% url 'blog:create_posts' %}">+add new post </a>
</div>

    <div>
        {% for post in page_obj %}
        <h3> Title: {{ post.title }}</h3> 
            <a href="{% url 'blog:post_details' pk=post.id %}"> <button class='btn btn-info'>Details</button> </a>
            <hr>
        {% endfor %}
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock content %}