{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/78ceb0f66b.js" crossorigin="anonymous"></script>
    <title>
      {% block title %} {% endblock title %}  
    </title>
    <style>
      code {
        font-family: Consolas,"courier new";
        background-color:grey;
        padding: 2px;
        font-size: 105%;
      }
      </style>

  </head>
  <body>
     <header class="py-3 mb-4 border-bottom shadow bg-dark p-2 text-dark bg-opacity-50">
    <!-- <header class="py-3 mb-4 border-bottom shadow  bg-success p-2 text-dark bg-opacity-10"> -->
    <!-- <header class="py-3 mb-4 border-bottom shadow bg-info"> -->

      <div class="container-fluid align-items-center d-flex">

        <div class="flex-grow-1 d-flex align-items-center">
            <div class="flex-shrink-0">
              
               <a href="{% url 'home' %}"  class="text-decoration-none"> <h4>EMS &nbsp;&nbsp;&nbsp;&nbsp;</h4></a>
            </div>

          <div class="flex-grow-1 d-flex align-items-center">
            <div class="flex-shrink-0 ">
                <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-2 text-decoration-none"><i class="bi bi-list bi-lg py-2 p-1"></i></a>
            </div>
            <div class="flex-shrink-0 ">
                <!-- <button class="btn btn-light"> Blog</button> -->
                <a href="{% url 'blog:post_list' %}" class="border rounded-3 p-2 text-decoration-none">Blog</a>
            </div>
            <div class="flex-shrink-0 ">
                <a href="#" class="border rounded-3 p-2 text-decoration-none">About&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>

            
            <!-- <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"><i class="bi bi-list"></i></a> -->
            
              <form class="w-100 me-3">
                  <input type="search" class="form-control bg-dark p-2 text-dark bg-opacity-10" placeholder="Search...">
              </form>
              <div class="flex-shrink-0 dropdown">
               
                

                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle pull-right" id="dropdownUser2"
                data-bs-toggle="dropdown" aria-expanded="false">
               <img src="https://ehsansoftware.com/assets/img/team/najzm.jpg" alt="user" width="32" height="32"
                    class="rounded-circle"> 
                    <!-- <i class="bi bi-person-circle"></i> -->
            </a>

                  <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                
                
                    <li><a class="dropdown-item" href="#">{{request.user.username}}</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">Log In</a></li>
                    <li><a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a></li>
                    {% endif %}
                
                
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>

                  {% comment %}
                  <!-- <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2" style=""> -->
                  <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="dropdownUser2">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                  {% endcomment %}
              </div>
          </div>
      </div>
  </header>

  <div class="container-fluid ">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100 bg-dark p-2 text-dark bg-opacity-10">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li>
                            <a href="#submenu4" data-bs-toggle="collapse" class="nav-link px-2 align-middle">
                                <i class="bi bi-gear"></i> <span class="ms-1 d-none d-sm-inline"></span>Setup Management </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu4" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"></span> Student Class</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"></span> Student Year</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"></span>Student Group</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"></span>Student Shift</a>
                                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"></span>Fee Category</a>
                                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"></span>Subject</a>
                                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"></span>Assign Subject</a>
                                    <a href="#" class="nav-link px-4"> <span class="d-none d-sm-inline"></span>Designation</a>
                                </li>
                            </ul>
                        </li>


                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                            
                            <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Teacher</span></a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Student</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                        </li>
                    </ul>
                    </div>


            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            {% block content %}
            
            {% endblock content %}

        </main>
    </div>
</div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    {% block javascript %}
      <script src="{% static 'js/base.js' %}"></script>
    {% endblock javascript %}
  
  </body>
</html>